USE [master]
GO
/****** Object:  Database [jcDC]    Script Date: 11/1/2015 5:30:51 PM ******/
CREATE DATABASE [jcDC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jcDC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\jcDC.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'jcDC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\jcDC_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jcDC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jcDC]
GO
/****** Object:  User [jcdcsa]    Script Date: 11/1/2015 5:30:51 PM ******/
CREATE USER [jcdcsa] FOR LOGIN [jcdcsa] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [jcdcsa]
GO
/****** Object:  Table [dbo].[Cache]    Script Date: 11/1/2015 5:30:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cache](
	[Key] [varchar](255) NOT NULL,
	[KeyValue] [varchar](max) NOT NULL,
	[Expiration] [DateTime] NOT NULL,
 CONSTRAINT [PK_Cache] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
